body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

#header {
  position: relative;
  top: 3.5em;
  left: -18.5em;
}

.text-container {
  position: absolute;
  top: 13em;
  margin-left: -7.7em;
  left: 5.8%;
  transform: translateX(-50%) translateY(100%);
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);

  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: black;
  fill: #23b14d;
  padding: 20px;
  height: 0%;
  line-height: 20.5;
  overflow: visible;
  letter-spacing: 32px;
  text-shadow:
    0 0 5px white,
    0 0 5px white,
    0 0 5px white,
    0 0 5px white,
    0 0 5px black,
    0 0 5px black,
    0 0 5px black,
    0 0 5px black,
    0 0 10px skyblue;
  opacity: 1;
}

.addTextH1 {
  bottom: 23em;
  position: relative;
  left: 11em;
  color: green;
  text-shadow: 0 0 5px white,
    0 0 5px white,
    0 0 5px white,
    0 0 5px white,
    0 0 5px black,
    0 0 5px black,
    0 0 5px black,
    0 0 5px black,
    0 0 10px skyblue;
}

.addTextH2 {
  bottom: 42.5em;
  position: relative;
  left: 22em;
  color: green;
  text-shadow: 0 0 5px white,
    0 0 5px white,
    0 0 5px white,
    0 0 5px white,
    0 0 5px black,
    0 0 5px black,
    0 0 5px black,
    0 0 5px black,
    0 0 10px skyblue;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  max-width: 100%;
  display: block;
  opacity: 0.8;
}



span {
  position: absolute;
  transform-origin: 0 45px;
  bottom: 2.2em;
}



.round-button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(135deg, #b1ff4a, #25c8ff);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  margin-top: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: 2;
  cursor: pointer;
  border: white;
  box-shadow: 0 2px 4px rgba(255, 255, 0, 0.5);
  font-family: 'Courier New', Courier, monospace;
}

.round-button:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 0, 0.5);
}

.small-div,
.large-div {
  transition: all 0.5s;
}



.para {
  position: relative;
  transition: top 1s ease;
}

.small-div.hidden-small-div .para {
  top: 0;
  width: 0;
  height: 50%;
}

.small-div {
  transition: max-width 0.5 ease;
  flex: 1;
  overflow: hidden;
  position: relative;
  display: inline-block !important;
  overflow: visible;
}


.small-div .round-button {
  top: 20%;
}

#main-div {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 3s ease;
}

.large-div {
  flex: 2;
  width: 0;
  display: flex;
}


.small-div img,
.large-div img {
  max-width: 100%;
}

#content1 {
  width: 500px;
  word-wrap: break-word;
  position: relative;
  left: -30em;
  top: -15em;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'dancing spirit', cursive;
  background-image: linear-gradient(45deg, #ff0000, black, #0000ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}

.solarImage.style-class {
  /* display: inline-block; */
  margin-right: 2em;
  /* height: 114px !important; */
}



#content2 {
  width: 600px;
  word-wrap: break-word;
  position: relative;
  left: -30em;
  top: -15em;
  font-size: 18px;
  font-weight: normal;
  background-image: linear-gradient(45deg, #ff0000, black, #0000ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  font-family: 'dancing spirit', cursive;
}

#backButton {
  position: relative;
  top: 8em;
  left: -42em;
  color: white;
  background: black;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.green-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: green;
  opacity: 1;
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.solarImage1 {
  height: 50%;
  width: 80%;
  position: relative;
  top: 8em;
  left: 3em;
  box-shadow: 0 0 5px 3px rgba(154, 205, 50, 0.8),
    0 0 8px 5px rgba(255, 255, 0, 0.6);
}

#content {
  position: relative;
  background-image: linear-gradient(45deg, #ff0000, black, #0000ff);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'dancing spirit', cursive;
  color: transparent;
  left: 2em;
  font-size: 16px;
}

.hidden-small-div {
  width: 0;
}



.text-overlay1 {
  position: absolute;
}



.subText {
  position: absolute;
  top: 53%;
  left: 20%;
  font-size: 18px;
  color: #003300;
  background: linear-gradient(135deg, #00ff00, #000);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  white-space: nowrap;
  font-family: 'dancing spirit', cursive;

}

.text-overlay {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(45deg, red, green, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.solarImage {
  height: 22em;
  width: 25%;
  position: relative;
  top: 15em;
  left: 7em;
  opacity: 1;
  transition: transform 3s ease;
  box-shadow: 0 0 5px 3px rgba(154, 205, 50, 0.8),
    0 0 8px 5px rgba(255, 255, 0, 0.6);
  overflow: hidden;
}


.solarImage.new-class {
  height: 98px;
}

.coin-flip {
  animation: flip 1s ease-in-out;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid whitesmoke;
}



.solarImage:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

.animationDiv {
  position: relative;
  transition: left 3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pointerImage {
  position: relative;
  top: 3px;
  left: 0em;
  width: 15px;
}

.pointer {
  position: relative;
  top: -1em;
  left: -7em;
  background: linear-gradient(135deg, black, green);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  box-shadow: 0 0 10px black;
}

.small-div.hidden-small-div .animationDiv {
  left: 0;
}